<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{configuracion.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{configuracion.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/configuracions}" class="btn btn-secondary">[[#{configuracion.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('configuracion')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='configuracion', field='idConfig', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='configuracion', field='notificaciones', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='configuracion', field='mostrarEdad', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='configuracion', field='user', type='select')}" />
                <input type="submit" th:value="#{configuracion.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
