<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{brand.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{brand.list.headline}]]</h1>
                <div>
                    <a th:href="@{/brands/add}" class="btn btn-primary ms-2">[[#{brand.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${brands.empty}">[[#{brand.list.empty}]]</div>
            <div th:if="${!brands.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{brand.id.label}]]</th>
                            <th scope="col">[[#{brand.name.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="brand : ${brands}">
                            <td>[[${brand.id}]]</td>
                            <td>[[${brand.name}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/brands/edit/{id}(id=${brand.id})}" class="btn btn-sm btn-secondary">[[#{brand.list.edit}]]</a>
                                    <form th:action="@{/brands/delete/{id}(id=${brand.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{brand.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
