<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{publicacion.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{publicacion.list.headline}]]</h1>
                <div>
                    <a th:href="@{/publicacions/add}" class="btn btn-primary ms-2">[[#{publicacion.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${publicacions.empty}">[[#{publicacion.list.empty}]]</div>
            <div th:if="${!publicacions.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{publicacion.idPost.label}]]</th>
                            <th scope="col">[[#{publicacion.texto.label}]]</th>
                            <th scope="col">[[#{publicacion.fecCreacion.label}]]</th>
                            <th scope="col">[[#{publicacion.user.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="publicacion : ${publicacions}">
                            <td>[[${publicacion.idPost}]]</td>
                            <td>[[${publicacion.texto}]]</td>
                            <td>[[${publicacion.fecCreacion}]]</td>
                            <td>[[${publicacion.user}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/publicacions/edit/{idPost}(idPost=${publicacion.idPost})}" class="btn btn-sm btn-secondary">[[#{publicacion.list.edit}]]</a>
                                    <form th:action="@{/publicacions/delete/{idPost}(idPost=${publicacion.idPost})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{publicacion.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
