<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{usuario.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{usuario.add.headline}]]</h1>
                <div>
                    <a th:href="@{/usuarios}" class="btn btn-secondary">[[#{usuario.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('usuario')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='nombreUsuario')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='contrasena')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='nombreCompleto')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='fechaNacimiento', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='email')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='telefono')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='fecRegistro')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='fotoPerfil')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='privada', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='usuarioHobbyHobbies', type='multiselect')}" />
                <input type="submit" th:value="#{usuario.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
