<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{hobby.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{hobby.list.headline}]]</h1>
                <div>
                    <a th:href="@{/hobbies/add}" class="btn btn-primary ms-2">[[#{hobby.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${hobbies.empty}">[[#{hobby.list.empty}]]</div>
            <div th:if="${!hobbies.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{hobby.idHobby.label}]]</th>
                            <th scope="col">[[#{hobby.nombre.label}]]</th>
                            <th scope="col">[[#{hobby.descripcion.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="hobby : ${hobbies}">
                            <td>[[${hobby.idHobby}]]</td>
                            <td>[[${hobby.nombre}]]</td>
                            <td>[[${hobby.descripcion}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/hobbies/edit/{idHobby}(idHobby=${hobby.idHobby})}" class="btn btn-sm btn-secondary">[[#{hobby.list.edit}]]</a>
                                    <form th:action="@{/hobbies/delete/{idHobby}(idHobby=${hobby.idHobby})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{hobby.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
