<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{likes.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{likes.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/likess}" class="btn btn-secondary">[[#{likes.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('likes')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='likes', field='idLike', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='likes', field='publicacion', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='likes', field='usuario', type='select')}" />
                <input type="submit" th:value="#{likes.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
